*{
	margin:0;
	padding:0;
}

#box{
	margin-top: 50px;
	margin-left: 200px;
}

td{
	padding: 5px;
}

.left{
	text-align: right;
}

.input{
	width: 240px;
	height: 30px;
	border: 1px solid #ccc;
	border-radius: 4px;
}