*{
	margin: 0;
	padding: 0;
}

/* 父盒子 */
.main{
	width: 100%;
	height: auto;
	background: #CCC;
	overflow: hidden;
}

/* 页头 */

header{
	width: 100%;
	height: 70px;
	background-color: #001A33;
}

header img{
	float: left;
	width: 170px;
	height: 70px;
}

header ul li{
	float: right;
	margin-right:30px; 
}

header ul li a{
	line-height: 70px;
	text-decoration: none;
	color: #fff;
}

/* 盒子里的左侧 */

.left{
	margin: 20px 470px 20px 20px;
}

.left .box{
	border: 1px solid #ccc;
	padding :30px;
	background-color: #fff;
	margin-bottom: 20px;
}

.left .box h2,h3,p{
	padding-bottom: 10px;
}

.left .box p{
	font-size: 15px;
	line-height: 25px;
}

.left .box ul{
	margin:20px; 
}

.clearfix:after{ /*  清除浮动 */
   content:'';
   display:table;
   clear:both;   
}

.left .box dl dd{
	width: 120px;
	height: 130px;
	text-align: center;
	border: 1px solid #ccc;
	float: left;
	margin:20px ;
}

.left .box dl dd img{
	width: 90px;
	height: 90px;
	padding-left:10px;
	padding-right: 10px;
}

.left .box ol{
	margin:20px;
}

.left .box table{
	width: 90%;
}


/*  盒子的右侧 */
.right{ 
	width: 400px;
	background-color:#fff; 
	position: absolute;
	top: 90px;
	right: 20px;
	padding:10px;
}

.right h4{
	font-size: 20px;
	line-height: 40px;
	border-left: 3px solid #4775FF;
	padding-left: 10px;	
}

.right table{
	width: 80%;
	margin: 0 auto;
	font-size: 10px;
}

.right table tr{
	height: 30px;
}

.right .tip{
	color: #C2C2C2;
}


.right .submit{
	width: 80%;
	height: 40px;
	
}

.right #sub{
	width: 100%;
	height: 30px;
	margin: 10px auto;
	font-size: 20px;
	line-height: 3px;
	color: #fff;
	background-color:#3D64FF;
	border-radius: 8px;
	border:none;
}

/* 页脚 */
footer{
	width: 100%;
	height: 70px;
	background-color: #001A33;
}

footer p{
	color: #fff;
	text-align: center;
	line-height: 70px;
}